
  <div id="chart"></div>
  <ng-container *ngIf="!html">
    <div class="chartCss">
        <ng-container *ngIf="checkChild()">
            <scichart-angular
            [initChart]="drawChart"
            >
        </scichart-angular>
    </ng-container>
</div>
</ng-container>
<ng-container *ngIf="additinal=='chart2D_basicCharts_LineChart'">
    <app-line-chart></app-line-chart>
</ng-container>
<ng-container *ngIf="additinal=='chart2D_basicCharts_RealtimeMountainChart'">
    <app-realTimeMountain-chart></app-realTimeMountain-chart>
</ng-container>
<ng-container *ngIf="additinal=='chart2D_axisLabelCustomization_ImageLabels'">
<app-Image-labels></app-Image-labels>
</ng-container>
<ng-container *ngIf="additinal=='chart2D_chartAnnotations_AnnotationsAreEasy'">
<app-chart-example></app-chart-example>
</ng-container>