.overlay {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}

.dialog {
    background: #FFF;
    color: #111;
    border-radius: 8px;
    padding: 10px 12px;
    position: relative;
    max-width: 400px;
    width: 90%;
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1), 0 5px 10px -5px rgba(0, 0, 0, 0.04);
    animation: slideIn 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid var(--border-color);
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
    color: #6e7681;
    width: 20px;
    height: 20px;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    line-height: 0;

    &:hover {
        background-color: #f0f1f2;
        color: #000;
    }
}

.content {
    color: #24292f;
    font-size: 15px;
    line-height: 1.5;
    margin-right: 24px;
    font-weight: 500;
    letter-spacing: -0.01em;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translate(-50%, -8px);
    }

    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}
