.image-chart-enter {
    transition: all 1500ms;
    opacity: 0;
}

.image-chart-enter-active {
    transition: all 1500ms;
    opacity: 1;
}

.image-chart-exit {
    transition: all 1500ms;
    opacity: 1;
}

.image-chart-exit-active {
    transition: all 1500ms;

    opacity: 0;
}
