@import "../../assets/main.scss";

.ButtonWrapper {
    display: flex;
    margin-top: 50px;
    a {
        padding: 20px 36px;
        align-items: center;
        color: white;
        background: linear-gradient(114.95deg, #febc48 0%, #e97502 100%);

        border-radius: 4px;
        cursor: pointer;
        display: flex;
        font-size: 15px;
        font-weight: 500;
        justify-content: center;
        line-height: 26.25px;
        text-decoration-thickness: auto;
        text-transform: uppercase;
        user-select: none;
    }
    @include sm {
        align-items: center;
        justify-content: center;
    }
}

.PageHomeWrapper {
    background: $gradient-header;
    .PageHomeContent {
        //max-width: 1600;
        //background: url("../../assets//images/Chart.png");
        //background-size: auto;
        //background-repeat: no-repeat;
        //background-position: 150% 50%;
        //margin: auto;

        .PageHomeHeader {
            @extend %Container;
            width: 100%;
            max-width: min(1200px, 84vw);

            padding: $default-spacing * 6 0;

            margin: auto;
            display: flex;
            align-items: stretch;
            flex-direction: row;

            @include sm {
                flex-direction: column;
            }
            @include xs {
                padding-top: $default-spacing * 2;
                padding-bottom: $default-spacing * 2;
            }

            .PageHomeHeaderText {
                width: 50%;

                @include sm {
                    width: 100%;
                    margin-left: 0;
                    margin-top: $default-spacing * 6;
                    text-align: center;
                }
                .PageHomeAboutText {
                    font-size: 1.2rem;
                    font-weight: 400;
                    line-height: 1.5;
                    color: $color-primary-white;
                    width: 100%;
                    @include sm {
                        width: 100%;
                    }
                    a {
                        color: $color-link-text;
                    }
                    a:hover {
                        color: $color-link-text-hover;
                    }
                }
                .PageHomeTitle {
                    color: $color-primary-white;
                    font-size: 3.25rem;

                    font-weight: 600;
                    margin-bottom: 0;
                    line-height: 3.875rem;
                    white-space: nowrap;
                    margin-bottom: 30px;
                    span {
                        display: block;
                        color: white;
                        white-space: pre-line;
                    }
                    @include sm {
                        font-size: 4rem;

                        white-space: normal;
                    }
                    @include xs {
                        font-size: 2.75rem;
                    }
                }
            }
            .PageHomeHeaderImages {
                display: flex;
                flex-grow: 1;
                position: relative;
                @include sm {
                    height: 400px;
                }

                .Blur {
                    position: absolute;
                    background-color: white;
                    filter: blur(300px);
                    max-width: 200px;
                    max-height: 200px;
                    width: 100%;
                    height: 100%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                // .PageHomeHeaderImagesWrapper {
                //     border-radius: 20px;
                img {
                    position: absolute;

                    border-radius: $default-border-radius * 2;
                    border: 8px solid $color-grey;
                    @include xxs {
                        border-radius: $default-border-radius;
                        border: 4px solid $color-grey;
                    }
                }
                .PageHomeHeaderImage1 {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 500px;
                    transform: translate(-50%, -50%);
                    @include md {
                        width: 400px;
                    }
                    @include xxs {
                        width: 250px;
                    }
                    .SmallBox {
                        // position: absolute;
                        // top: 0;
                        // left: 0;
                        width: 100px;
                        height: 100px;
                        background-color: $color-dark-green;
                        border-radius: 18px;
                        transform: translate(-20%, -140%);
                        @include md {
                            width: 80px;
                            height: 80px;
                        }
                        @include xxs {
                            width: 50px;
                            height: 50px;
                            border-radius: 6px;
                        }
                    }
                    .BigBox {
                        position: absolute;
                        top: 100%;
                        left: 100%;
                        width: 150px;
                        height: 150px;
                        background-color: $color-dark-green;
                        border-radius: 18px;
                        transform: translate(-55%, -0%);
                        z-index: -1;
                        @include md {
                            width: 120px;
                            height: 120px;

                            transform: translate(-75%, -0%);
                        }
                        @include xxs {
                            width: 80px;
                            height: 80px;
                            border-radius: 6px;
                        }
                    }
                }
                .PageHomeHeaderImage2 {
                    top: 100%;
                    width: 200px;

                    transform: translate(0, -80%);
                    @include md {
                        width: 150px;
                        transform: translate(0, -120%);
                    }
                    @include sm {
                        transform: translate(75%, -100%);
                    }
                    @include xs {
                        transform: translate(0%, -100%);
                    }
                    @include xxs {
                        width: 120px;
                        transform: translate(0%, -200%);
                    }
                }
                .PageHomeHeaderImage3 {
                    left: 100%;
                    width: 250px;

                    transform: translate(-100%, 0);
                    @include md {
                        width: 200px;
                        transform: translate(-110%, 0);
                    }
                    @include sm {
                        transform: translate(-150%, 20%);
                    }
                    @include xs {
                        transform: translate(-100%, 20%);
                    }
                    @include xxs {
                        width: 150px;
                        transform: translate(-100%, 50%);
                    }
                }
            }
        }
    }
}

// @import "../../assets/main.scss";

.FrameworkList {
    margin: 0 20px;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: 768px) {
        overflow-x: auto;
        white-space: nowrap;
        display: block;
    }
    .FrameworkListItem {
        margin: 15px 0 0 0;
        display: flex;
        align-items: center;
        width: 20%;
        text-align: center;
        justify-content: center;
        position: relative;
        @media only screen and (max-width: 768px) {
            display: inline-block;
            width: 50%;
            white-space: nowrap;
        }

        &:last-child {
            &:after {
                display: none;
            }
        }
        &:hover {
            background: rgba(255, 255, 255, 0.17);
            border-radius: 17px 17px 0px 0px;
            &:after {
                background: transparent;
            }
        }

        &:after {
            content: "";
            background: rgba(217, 217, 217, 0.47);
            position: absolute;
            width: 1px;
            height: 34px;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        &.active {
            background: rgba(255, 255, 255, 0.17);
            border-radius: 17px 17px 0px 0px;
            &:after {
                background: transparent;
            }
        }
        a {
            text-decoration: none;
            font-family: "Arial";
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.02em;
            color: #fff;
            padding: 15px 0;
            @media only screen and (max-width: 768px) {
                line-height: 58px;
            }
        }
    }
}

.FrameworkListItem {
    color: white; /* White text color */
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}

.FrameworkListItem.active {
    background-color: #b55abf; /* Lighter purple background for active item */
    border-radius: 5px;
}

.FrameworkListItem:hover {
    background-color: #a046a0; /* Darker purple for hover effect */
    border-radius: 5px;
}
