**/.vscode
**/build
**/node_modules
**/.idea
**/.cache
**/artifacts
.DS_Store
Sandbox/demo-electron/dist/main/main.js
Sandbox/**/package-lock.json
!Sandbox/DocumentationSnippets/**/package-lock.json
Documentation/documentx/SciChart.js.dxp.bak
Documentation/documentx/DocsOut/**
