**/.vscode
**/build
**/node_modules
**/.idea
**/.cache
**/artifacts
.DS_Store
ExampleDependencies/lib
Sandbox/demo-electron/dist/main/main.js
!Sandbox/DocumentationSnippets/**/package-lock.json
Documentation/documentx/SciChart.js.dxp.bak
Documentation/documentx/DocsOut/**
Documentation/static/scichart3d.wasm
Documentation/static/scichart3d.data
Documentation/static/scichart2d.wasm
Documentation/static/scichart2d.data
Documentation/static/scichart.browser.js
Documentation/server/nav.html
Documentation/server/*.js
/Sandbox/demo-dotnet-server-licensing/wwwroot/index.js
