.toolbar {
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid var(--border-color);
    padding: 1px 12px;
    min-height: 25px;
    width: 100%;
    box-sizing: border-box;
    gap: 12px;
    backdrop-filter: blur(8px);
}

.toolbarGroup {
    display: flex;
    align-items: center;
    gap: 4px;

    &:not(:last-child)::after {
        content: "";
        height: 16px;
        width: 1px;
        background: var(--border-color);
        margin-left: 8px;
    }
}

.toolbarText {
    font-size: 12px;
    color: var(--text-color);
    font-weight: 500;
    user-select: none;
    line-height: 16px;
}
