@import "./variables.scss";

.toolbar {
    display: flex;
    align-items: center;
    background: var(--color-overlay);
    border-bottom: 1px solid var(--border-color);
    padding: var(--spacing-xxs) var(--spacing-lg);
    min-height: 1.5625rem;
    width: 100%;
    box-sizing: border-box;
    gap: var(--spacing-lg);
    backdrop-filter: blur(0.5rem);
    transition: var(--transition-normal);

    &:hover {
        background: var(--color-overlay-hover);
        box-shadow: var(--shadow-sm);

        .toolbarGroup {
            opacity: 0.98;
        }
    }
}

.toolbarGroup {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
    opacity: 0.85;
    transition: var(--transition-normal);

    &:not(:last-child)::after {
        content: "";
        height: var(--spacing-xl);
        width: 1px;
        background: var(--border-color);
        margin-left: var(--spacing-md);
    }

    &:hover {
        opacity: 1;
    }
}

.toolbarText {
    font-size: var(--font-size-xs);
    color: var(--text-color);
    font-weight: 500;
    user-select: none;
    line-height: var(--spacing-xl);
    opacity: 0.9;
    transition: var(--transition-normal);

    &:hover {
        opacity: 1;
    }
}
