@import "../../assets/main";
.ChartWrapper {
    overflow: hidden;
}
.ExampleWrapper {
    display: flex;

    flex-direction: row;
    justify-content: space-between;
    @include md {
        flex-direction: column;
    }
    .Example {
        margin-right: 30px;
        flex: 1;
        @include md {
            margin-right: 0;
        }
    }
    .ExampleDescription {
        display: flex;
        flex-direction: column;
        min-width: 300px;
        width: 25%;
        @include md {
            width: 100%;
            min-width: 0;
        }
    }
}

.FormControl {
    margin: $default-spacing;
    min-width: 142;
}

.Notification {
    margin-bottom: $default-spacing * 2;
}

/////*****ExamplesRoot*****/////
.ExamplesRoot {
    margin: 0 $default-spacing * 2;
    @include md {
        margin: 0;
        padding: $default-spacing * 2;
    }
    .SciChartLogo {
        text-align: right;
        margin-bottom: $default-spacing * 2;
        @include sm {
            display: none;
        }
    }
    .Body {
        display: flex;

        @include sm {
            display: block;
        }
    }
    .ColMain {
        flex-basis: 240px;
        flex-shrink: 0;
        flex-grow: 1;
        overflow-x: auto;
        margin-bottom: $default-spacing * 3;
    }
    .ColMainContent {
        max-width: 1280px;
        @include md {
            max-width: 800px;
        }
    }
    .ColDescription {
        flex-basis: 360px;
        flex-grow: 0;
        flex-shrink: 0;
        padding-left: $default-spacing * 3;
        @include sm {
            padding-left: 0;
        }
        margin-bottom: $default-spacing * 3;
    }
    .ExampleDescription {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .ExampleDescriptionLink {
            &:hover,
            &:active,
            &:visited {
                color: $color-main-green !important;
            }
        }
        @include md {
            flex-direction: column;
            align-items: flex-start;
            padding: 30px 20px;
        }
        h5 {
            font-size: 1.875rem;
            font-weight: 600;
            line-height: 40px;
            @include md {
                margin-bottom: 20px;
            }
        }
        .ExampleDescriptionText {
            font-size: 1rem;
            color: $font-color;
            line-height: 30px;

            width: 75%;
            @include md {
                margin-bottom: 20px;
                width: 100%;
            }
        }
        .ExampleDescriptionButton {
            span {
                font-size: 0.8rem;
                white-space: nowrap;
            }
        }
    }
    .Title {
        width: 100%;
        font-weight: 600;
        margin-bottom: 30px;
    }
    .Subtitle {
        margin-bottom: 20px;
        font-weight: 400;
        font-size: 1rem;
        line-height: 30px;
        p {
        }
    }
    .TextGreen {
        color: $color-main-green;
    }
}
/////*****VitalSignsMonitorDemo*****/////

.ChartContainer {
    display: flex;
    background-color: black;
    padding-top: 6px;
    width: 800px;
    // font-family: '-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";';
    position: relative;
}

.InfoBoxContainer {
    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 0;
}

.InfoBox {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-left: 1px solid darkgrey;
    padding: 6;
    height: 150px;
    width: 200px;
    background-color: black;
    border-bottom: 1px solid darkgrey;
}
.IbRow1 {
    flex-grow: 1;
    display: flex;
}
.IbRow1Col1 {
    flex-grow: 1;
    font-size: 32px;
}
.IbRow1Col2 {
    text-align: right;
    margin-top: 4px;
    font-size: 12px;
}
.IbRow2 {
    display: flex;
    align-items: flex-end;
}
.IbRow2Col1 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    font-size: 14px;
    img {
        width: 45px;
    }
}
.IbRow2Col2 {
    display: flex;
    flex-direction: column;
    font-size: 44px;
    line-height: 44px;
}
