@import "../../assets/main.scss";

.AppBar {
    height: $app-bar-height;
    max-width: 100%;
    background-color: $color-dark;

    .Logo {
        display: block;
        height: 68px;

        .LogoSmall {
            height: 68px;
            width: 68px;
        }

        .LogoDefault {
            margin-top: 2px;
            height: 100%;
            width: 209px;
        }
    }

    .ToolBar {
        display: flex;
        max-width: 100%;
        background-color: $color-dark;
    }

    .ToolBarMenu {
        right: 0;
        top: 0;
        display: flex;
        align-items: center;
        gap: 10px;
        flex: auto;
        height: $app-bar-height;
        padding: 12px;
        padding-left: 0px;
        z-index: 1200;

        %ToolBarButton {
            display: block;
            aspect-ratio: 1 / 1;
            width: unset;
            height: 44px;
            padding: 0px;
            min-width: unset;
            min-height: unset;
            border-radius: 8px;
            color: $color-primary-white;
        }

        .MenuButton {
            @extend %ToolBarButton;

            display: none;
            line-height: 1em;
            background: $color-primary-white-alpha;
            // border: 1px solid $color-medium-blue;

            @include sm {
                display: block;
            }
        }

        .FlexPlaceholder {
            flex-grow: 1;
        }

        .GitHubLink {
            @extend %ToolBarButton;

            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            border-radius: 8px;
            background-color: $color-medium-blue;
            text-decoration: none;
        }

        .versionChip {
            height: 44px;
            border-radius: 8px;
            @include sm {
                display: none;
            }
        }

        .NpmLink {
            @extend %ToolBarButton;

            display: flex;
            padding: 6px;
            border-radius: 8px;
            background-color: $color-red;
            color: $color-primary-white;
            text-decoration: none;
        }

        .PurpleButton {
            display: flex;
            flex: none;
            height: 100%;
            padding: $default-spacing;
            background: $gradient-btn-dark;
            border-radius: 8px;

            @include sm {
                display: none;
            }

            span {
                color: $color-lightest-green;
                font-size: 12px;
                font-weight: 600;
                letter-spacing: 0.05em;
                line-height: 15px;
                text-align: center;
                text-transform: uppercase;
                text-decoration-thickness: auto;
            }
        }

        .PurpleButton:hover {
            background-size: 200% 100%;
            background-position: 0 100%;
        }

        .DisabledButton {
            background: $color-grey;
            margin: 0;
        }

        // overrides MuiButton-label
        .DisabledButton > span {
            color: $color-light-grey;
        }

        .DisabledButtonTooltipWrapper {
            padding: 0;
        }

        .BlueButton {
            background: $gradient-blue;
            height: 100%;
            text-align: center;
            line-height: 1;
            border-radius: 8px;
            span {
                font-weight: bold;
                padding: 6px 15px;
                color: white !important;
                font-size: 0.8rem;
                white-space: nowrap;
            }
        }

        .BlueButton:hover {
            background-size: 200% 100%;
            background-position: 0 100%;
        }
    }
}
