@import "../../assets/main.scss";

.AppBar {
    height: $app-bar-height;

    .ToolBar {
        position: fixed;
        right: 0;
        top: 0;
        background-color: $color-dark;
        height: $app-bar-height;
        width: 100%;
        padding-top: 12px;
        padding-bottom: 12px;
        z-index: 1200;

        .Logo {
            height: 60px;
            margin-top: 5px;
            margin-right: $default-spacing * 2;
        }

        .MenuButton {
            display: none;
            margin-left: 12px;
            padding: 9px;
            color: $color-dark-green;
            border: 1px solid $color-grey;
            border-radius: 4px;

            @include md {
                display: block;
            }
        }

        .FlexPlaceholder {
            flex-grow: 1;
        }

        .GitHubLink {
            display: flex;
            padding: 12px 12px;
            margin-left: 12px;
            border-radius: 4px;
            background-color: $color-medium-blue;
            color: $color-lightest-green;
            text-decoration: none;
        }

        .PurpleButton {
            display: flex;
            flex: none;
            width: 170px;
            height: 100%;
            margin-left: 10px;
            padding: $default-spacing * 2 $default-spacing * 2;
            border-radius: 14px;
            background: $gradient-btn-dark;

            @include sm {
                display: none;
            }

            span {
                color: $color-lightest-green;
                font-size: 12px;
                font-weight: 600;
                letter-spacing: 0.05em;
                line-height: 15px;
                text-align: center;
                text-transform: uppercase;
                text-decoration-thickness: auto;
            }
        }

        .PurpleButton:hover {
            background-size: 200% 100%;
            background-position: 0 100%;
        }

        .BlueButton {
            background: $gradient-blue;
            border-radius: 14px;
            margin-left: 10px;
            span {
                font-weight: bold;
                padding: 6px 15px;
                color: white !important;
                font-size: 0.8rem;
                white-space: nowrap;
            }
        }

        .BlueButton:hover {
            background-size: 200% 100%;
            background-position: 0 100%;
        }
    }
}
