<h1>Hello Angular With Animations Chart</h1>
<div>
    <label>
        <input type="checkbox" [(ngModel)]="showCharts" /> Show Charts
    </label>
</div>
<div>
    <button class="test-button" (click)="logDebugInfo()">Log Debug Info</button>
</div>
<div class="flex-container">
    <div *ngIf="showCharts" class="chart-container">
        <scichart-angular
            [initChart]="drawChart2D"
            (onInit)="onInit2DHandler($event)"
            (onDelete)="onDelete2DHandler($event)"
        ></scichart-angular>
    </div>
    <div *ngIf="showCharts" class="chart-container">
        <scichart-angular
            [initChart]="drawChart3D"
            (onInit)="onInit3DHandler($event)"
            (onDelete)="onDelete3DHandler($event)"
        ></scichart-angular>
    </div>
</div>

<!--
    To build a chart from a Builder API definition instead of an init function, use the
    scichart-angular-declarative component (import ScichartAngularDeclarativeComponent):

    <scichart-angular-declarative [config]="chartConfig"></scichart-angular-declarative>

    Passing [config] to scichart-angular throws - the input moved in scichart-angular 2.0.
-->
