.test-button {
    border: 1px solid;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.test-button:hover {
    background-color: #45a049;
}

.flex-container {
    display: flex;
}

.chart-container {
    flex: auto;
    max-width: 600px;
    aspect-ratio: 3 / 2;
}
