@import "./mixins.scss";
$color-primary-grey: #bac0c6;
$color-primary-light-grey: #f9fafa;
$color-primary-dark-grey: #98a4af;
$color-primary-white: #ffffff;

$color-font-dark: #323640;

$color-font-green: #117d31;

$color-dark: #1e252b;
$color-dark-grey: #2f3941;
$color-grey: #4a545b;
$color-light-grey: #97a0a8;

$color-lightest-green: #f7f8f8;
$color-dark-green: #67ac5b;
$color-main-green: #5cb85c;

$color-dark-blue: #2c353d;

$font-color: #3b5164;
$menu-list-item-font-color: #1e252b;

//Media
$bp-xl: 120em; //1920
$bp-lg: 91.25em; //1460
$bp-md: 60em; //960/16px=60em
$bp-sm: 37.5em; //600px/16px=37.5em
$bp-xs: 28.125em; // 450
$bp-xxs: 0;

// spacing
$app-bar-height: 68px;
$default-spacing: 8px;
$default-border-radius: 10px;
//
%Container {
    max-width: 2300px;
    padding: 0 20px;
    @include lg {
        max-width: 1600px;
    }
    @include md {
        max-width: 1200px;
    }
}
html {
    box-sizing: border-box;
    // font-size: 62.5%;

    height: 100%;
    // * {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    // }
    h1 {
        line-height: 1.167;
    }
    h4 {
        font-size: 2.125rem;
        font-weight: 400;
        line-height: 1.235;
    }

    h6 {
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1.6;
    }
}
.container {
    width: 100%;
    @extend %Container;
    // margin: 0 auto;
    // padding: 0 2.4rem;
    // position: relative;
}

%gutter-bottom {
    margin-bottom: 0.35em;
}
