@use "base";

@mixin xl {
    @media (min-width: base.$bp-xl) {
        @content;
    }
}

@mixin lg {
    @media (max-width: base.$bp-xl) {
        @content;
    }
}

@mixin md {
    @media (max-width: base.$bp-lg) {
        @content;
    }
}

@mixin sm {
    @media (max-width: base.$bp-md) {
        @content;
    }
}

@mixin xs {
    @media (max-width: base.$bp-sm) {
        @content;
    }
}
@mixin xxs {
    @media (max-width: base.$bp-xs) {
        @content;
    }
}
