@use "../../assets/main.scss";
@use "CommonFooterStyles.module.scss";
@use "../../assets/base";
@use "../../assets/mixins";

.AppFooter {
    padding: 40px;
    overflow: hidden;
    background: var(--primary);
    color: white;

    @include mixins.sm {
        padding: 40px 0;
    }

    .FooterBottomSection {
        @extend %CommonFooterGridConfigs;
    }

    h4,
    h5,
    h6 {
        color: base.$color-primary-white;
        font-weight: 600;
    }

    h5 {
        font-size: 22px;
        line-height: 27px;
    }

    h6 {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 26px;
        margin-top: 40px;
    }

    @include mixins.sm {
        h5 {
            font-size: 20px;
            line-height: 24px;
        }

        h6 {
            font-size: 16px;
            line-height: 20px;
        }
    }

    .LinksBox {
        padding: 40px;

        @include mixins.sm {
            padding: 40px 16px 0 16px;
        }

        P {
            margin: 40px 0;
            color: base.$color-primary-grey;
        }
    }

    .RelatedLinks {
        @extend %CommonLinkStyles;

        display: flex;
        flex-direction: column;
        margin-top: 40px;
    }

    .ContactUsButton {
        flex: none;
        width: 100%;
        padding: base.$default-spacing * 2 base.$default-spacing * 2;
        border-radius: 4px;
        background: base.$color-medium-blue;
        margin: 20px 0;
        color: white;

        span {
            color: base.$color-lightest-green;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 0.05em;
            line-height: 15px;
            text-align: center;
            text-transform: uppercase;
            text-decoration-thickness: auto;
        }
    }

    .SocialMediaLinks {
        display: flex;

        a {
            display: flex;
            flex: none;
            justify-content: center;
            align-items: center;
            height: 44px;
            width: 44px;
            border-radius: 4px;
            margin-right: base.$default-spacing * 2;
            background-color: base.$color-medium-blue;
            color: inherit;
            text-decoration: none;

            &:last-of-type {
                margin: 0;
            }
        }
    }
}

.Copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    padding: base.$default-spacing * 2;
    background-color: var(--gray);
    color: rgb(174, 184, 193);
    text-align: center;
}
