@import "../../assets//main.scss";

.AppFooter {
    padding: 16px;
    overflow: hidden;
    background: #1e252b !important;
    color: white;
    font-family: "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol";

    h4,
    h5,
    h6 {
        color: $color-primary-grey;
    }

    .SiteLinks {
        display: flex;

        a {
            color: #BAC0C6;
            margin-right: 10px;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
