@use "../../assets/base";
@use "../../assets/mixins";

.divider {
  position: relative;
  border-bottom: 1px solid base.$color-dark-blue;
  margin-bottom: 16px;
}

.dividerBox {
  position: absolute;
  left: 0;
  width: 30px;
  height: 3px;
  background-color: base.$color-medium-blue;
}

%CommonLinkStyles {
  a {
    display: block;
    color: base.$color-primary-grey;
    text-decoration: none;
    margin-bottom: 18px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;

    @include mixins.sm {
      font-size: 14px;
      line-height: 22px;
    }
  }
}

%CommonFooterGridConfigs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  @include mixins.sm{
      grid-template-columns: repeat(2, 1fr);
  }

  @include mixins.xs{
      grid-template-columns: 1fr;
  }
}
