@import "../../assets//main.scss";

.listItemText {
    margin-left: $default-spacing;
    color: $color-primary-grey;
}

.listItemText2 {
    margin-left: $default-spacing * 2;
    font-size: 0.875rem;
    cursor: pointer;

    a {
        color: $color-primary-grey;
        text-decoration: none;
    }
}

.listItems {
    width: 33.3%;

    @include xs {
        width: 100%;
    }
}

.divider {
    position: relative;
    border-bottom: 1px solid $color-dark-blue;
}

.dividerBox {
    position: absolute;
    left: 0;
    width: 30px;
    height: 3px;
    background-color: $color-dark-green;
}
