@import "../../assets/main.scss";
@import "./CommonFooterStyles.module.scss";

.FooterGrid {
    &:not(:last-child) {
        .GridListContainer {
            @extend %CommonFooterGridConfigs;
        }
    }

    &:not(:first-child) {
        .GridListContainer {
            @extend %CommonFooterGridConfigs;

            grid-template-rows: repeat(3, 1fr);
    
            @include xs{
                grid-template-rows: unset;
            }
        }
    }
}

.TitleBox {
    padding: 40px 40px 0 40px;

    @include sm {
        padding: 40px 16px 0 16px;
    }
}

.FooterGridList {
    @extend %CommonLinkStyles;

    padding: 0 40px;

    &:first-child {
        grid-row-end: span 3;
    }

    &:first-child:last-child {
        grid-column-end: span 4;
    }

    @include sm{
        padding: 0 16px;

        &:first-child {
            grid-row-end: span 5;
        }

        &:nth-child(6) {
            grid-row-start: 6;
            grid-column-start: 1;
        }
    }

}
