@import "../../assets/main.scss";

.FooterGridList {
    width: 33.3%;

    @include xs {
        width: 100%;
    }

    h6 {
        margin-left: $default-spacing;
        color: $color-primary-grey;
    }

    a {
        @extend %gutter-bottom;

        display: block;
        color: $color-primary-grey;
        text-decoration: none;
        margin-left: $default-spacing * 2;
        font-size: 0.875rem;
        cursor: pointer;
    }
}

.divider {
    position: relative;
    border-bottom: 1px solid $color-dark-blue;
}

.dividerBox {
    position: absolute;
    left: 0;
    width: 30px;
    height: 3px;
    background-color: $color-dark-green;
}
