@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@section scripts {
    <script async type="text/javascript" src="bundle.js"></script>
}

<div class="text-center">
    <h1 class="display-4">SciChart with .NET core</h1>
    <div id="scichart-root" style="width: 400px; height: 300px;"></div>
</div>
