
  <div id="chart"></div>
  <ng-container *ngIf="!html">
    <div class="chartCss">
        <ng-container *ngIf="checkChild()">
            <scichart-angular
            [initChart]="drawChart"
            >
        </scichart-angular>
    </ng-container>
</div>
</ng-container>
<ng-container *ngIf="additinal=='chart2D_basicCharts_LineChart'">
    <app-line-chart></app-line-chart>
</ng-container>
<ng-container *ngIf="additinal=='chart2D_basicCharts_RealtimeMountainChart'">
    <app-realTimeMountain-chart></app-realTimeMountain-chart>
</ng-container>
<ng-container *ngIf="additinal=='chart2D_axisLabelCustomization_ImageLabels'">
<app-Image-labels></app-Image-labels>
</ng-container>
<ng-container *ngIf="additinal=='chart2D_chartAnnotations_AnnotationsAreEasy'">
<app-chart-example></app-chart-example>
</ng-container>
<ng-container *ngIf="additinal=='chart2D_stylingAndTheming_UsePointMarkers'">
<app-use-pointer></app-use-pointer>
</ng-container>
<ng-container *ngIf="additinal=='featuredApps_scientificCharts_TenorCurvesDemo'">
 <app-Tenor-curves></app-Tenor-curves>
</ng-container>
<ng-container *ngIf="additinal== 'featuredApps_scientificCharts_WaterfallChartDemo'">
  <app-interactive-waterfall-chart></app-interactive-waterfall-chart>
</ng-container>
<ng-container *ngIf="additinal=='chart2D_filters_CustomFilters'">
 <app-custom-filter></app-custom-filter>
</ng-container>
<ng-container *ngIf="additinal=='chart2D_basicCharts_StackedColumnChart'">
    <app-stack-chart></app-stack-chart>
</ng-container>
<ng-container *ngIf="additinal=='chart2D_chartAnnotations_EditableAnntations'">
    <app-editchart-example></app-editchart-example>
</ng-container>
<ng-container *ngIf="additinal=='chart2D_performanceDemos_LoadOneMillionPoints'">
    <app-load1-million-points-chart></app-load1-million-points-chart>
</ng-container>
<ng-container *ngIf= "additinal=='featuredApps_performanceDemos_RealtimePerformanceDemo'">
    <app-realtime-performance></app-realtime-performance>
</ng-container>
<ng-container *ngIf= "additinal=='featuredApps_scientificCharts_Lidar3DPointCloudDemo'">
    <app-li-dar3d-point-cloud></app-li-dar3d-point-cloud>
</ng-container>
<ng-container *ngIf= "additinal=='chart2D_createStockCharts_SharedChart'">
    <app-user-annotated-stock-chart></app-user-annotated-stock-chart>
</ng-container>
<ng-container *ngIf= "additinal=='chart2D_createStockCharts_MultiPaneStockCharts'">
    <app-multi-pane-stock-charts></app-multi-pane-stock-charts>
</ng-container>
<ng-container *ngIf= "additinal=='featuredApps_medicalCharts_VitalSignsMonitorDemo'">
     <app-vital-signs-monitor></app-vital-signs-monitor>
</ng-container>
<ng-container *ngIf= "additinal=='featuredApps_showcases_richInteractions'">
    <app-heatmap-interactions></app-heatmap-interactions>
</ng-container>
<ng-container *ngIf= "additinal=='featuredApps_scientificCharts_AudioAnalyzerDemo'">
    <app-audio-analyzer></app-audio-analyzer>
</ng-container>
<ng-container *ngIf= "additinal=='chart2D_basicCharts_HeatmapChart'">
    <app-heatmap-chart></app-heatmap-chart>
</ng-container>
<ng-container *ngIf= "additinal=='featuredApps_performanceDemos_Load500By500'">
    <app-load500-by500-chart></app-load500-by500-chart>
</ng-container>
<ng-container *ngIf= "additinal=='chart3D_basic3DChartTypes_PointLine3DChart'">
    <app-point-line-3d-chart></app-point-line-3d-chart>
</ng-container>
<ng-container *ngIf= "additinal=='featuredApps_showcases_realtimebigdata'">
    <app-realtime-big-data-showcase></app-realtime-big-data-showcase>
</ng-container>

