@import "../../assets/main.scss";

.Search {
    display: block;
    width: 100%;
    max-width: 40vw;
    // width: 30vw;
    // height: 100%;
    padding: 16px 0;
    flex: auto;

    .SearchField {
        @include sm {
            background-color: unset;
        }
        height: 44px;
        border-radius: 8px;
        border: 1px solid rgba(127, 127, 127, 0.6);
        background-color: rgba(127, 127, 127, 0.1);
    }

    svg,
    input {
        color: rgba(127, 127, 127, 0.6);
    }
}
