@import "../../assets/main.scss";

.Search {
    display: block;
    // width: 30vw;
    // height: 100%;
    margin-top: 5px;
    flex: auto;

    .SearchField {
        background-color: $color-dark-grey;

        //TODO this is a workaround for styling Search in Drawer
        @include sm {
            background-color: unset;
        }

        border-radius: 4px;

        &:hover {
            background-color: $color-grey;
        }
    }

    svg,
    input {
        color: $color-light-grey;
    }
}
