@import "../../assets/main.scss";

.Search {
    display: block;
    // width: 30vw;
    // height: 100%;
    padding: 16px 16px 8px 16px;
    flex: auto;

    .SearchField {
        @include sm {
            background-color: unset;
        }
        border-radius: 12px;
    }

    svg,
    input {
        color: $color-light-grey;
    }
}
