.showcaseWrap {
    padding-bottom: auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 16px;
    background: #ffffff;
    border-radius: 15px;
    border: 1px solid #b4d0db;
}

.showcaseheadingwrap {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 15px;
}

.gridSelection {
    display: flex;
    gap: 10px;
    justify-content: center;

    li {
        width: 30px;
        height: 30px;
        cursor: pointer;

        svg path {
            fill: #a0c2d4;
        }

        &.activeGrid {
            svg path {
                fill: #315e96;
            }
        }
    }
}

// Master style for grid component
.gridWrap {
    width: 100%;
    display: grid;
    place-items: start;
    gap: 15px;
    overflow: hidden;

    .card {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .imgWrapper {
            width: 100%;
            aspect-ratio: 3 / 2;
            overflow: hidden;

            // @media screen and (max-width: 768px) {
            //     aspect-ratio: 9 / 16;
            // }

            img {
                width: 100%;
                height: 100%;
                object-fit: fill;
                border-radius: 12px;
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            text-align: center;

            h3 {
                display: -webkit-box; /* Enables the flexbox behavior for text */
                -webkit-box-orient: vertical; /* Specifies the box's orientation */
                overflow: hidden; /* Hides overflowed text */
                text-overflow: ellipsis; /* Adds the ellipsis (...) */
                -webkit-line-clamp: 2; /* Limits to 2 lines */
                line-clamp: 2; /* Standard property for modern browsers */
                line-height: 1.5;
            }

            p {
                display: none; // hide for all but cardview
            }
        }
    }
}

// cardview - has 1 column
.cardView {
    grid-template-columns: 1fr;

    .card {
        flex-direction: row;
        justify-content: space-between;
        gap: 15px;
        height: 25vh; // feel free to adjust this value

        .imgWrapper {
            height: 100%;
            width: auto;
            aspect-ratio: 3 / 2 !important;
        }

        .content {
            padding: 10px;
            height: 100%;
            flex: 1;
            gap: 10px;
            flex-direction: column;
            text-align: left;

            .contentButtons {
                display: flex;
                width: 100%;
                margin-top: auto;
                margin-left: auto;
                height: 50px;
                gap: 10px;

                .button {
                    background: linear-gradient(90deg, #1aa2d5 15.5%, #35bfb7 100%);
                    border-radius: 6px;
                    font-family: "Arial";
                    font-weight: 500;
                    font-size: 16px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #ffffff;
                    text-decoration: none;
                    padding: 6px 14px;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        p {
            display: block !important;
        }
    }
}

// gridview - 2/3 columns
.gridView2or3 {
    grid-template-columns: repeat(2, 1fr);

    @media (min-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

// gridview - 5/6 columns
.gridView5or6 {
    grid-template-columns: repeat(3, 1fr);

    @media (min-width: 824px) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media (min-width: 1024px) {
        grid-template-columns: repeat(5, 1fr);
    }

    @media (min-width: 1200px) {
        grid-template-columns: repeat(6, 1fr);
    }
}

.loadmore {
    text-align: center;
    width: 100%;
    a {
        font-family: "Arial";
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        color: #2eacdb;
        text-decoration: none;
        @media only screen and (max-width: 1024px) {
            font-size: 14px;
            line-height: 17px;
        }
        &:hover {
            text-decoration: underline;
        }
    }
}

.tabbtnwrap {
    display: flex;
    gap: 10px;

    .btnprimary {
        background: linear-gradient(90deg, #1aa2d5 15.5%, #35bfb7 100%);
        border-radius: 6px;
        font-family: "Arial";
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        color: #ffffff;
        text-decoration: none;
        padding: 14px 32px;
        @media only screen and (max-width: 768px) {
            font-size: 12px;
            padding: 0;
            line-height: 35px;
            display: block;
            width: 50%;
        }
    }
    .btnsecondary {
        background: linear-gradient(90deg, #3578a9 0%, #a8218c 100%);
        border-radius: 6px;
        font-family: "Arial";
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        text-decoration: none;
        padding: 14px 32px;
        color: #ffffff;
        @media only screen and (max-width: 768px) {
            font-size: 12px;
            padding: 0;
            line-height: 35px;
            display: block;
            width: 50%;
        }
    }
}
