.sc-color-palette {
    position: fixed;
    z-index: 3;
    display: flex;
    gap: 4px;
    padding: 4px;
    border: 1px solid var(--sc-outline);
    border-radius: var(--radius);
    background: var(--sc-background);
}
