<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>AngularDEmo</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <!-- <script type="module" src="scichart.browser.mjs"></script>
        <script type="module" src="common.js"></script>
        <script type="module" src="index.js"></script>
        <script type="module" src="drawExample.js"></script> -->
</head>
<body>
  <app-root></app-root>
</body>
</html>
