body { margin: 0; font-family: Arial; }
.container { width: 100%; height: 100vh; position: relative; }
#scichart-root { width: 100%; height: 100%; }
#controls {
    position: absolute;
    left: 20px;
    top: 20px;
    border: 1px solid #14233C;
    background-color: #364BA0;
    border-radius: 3px;
    color: #FFFFFF;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#controls .item {
    display: flex;
    margin: 5px 0;
}

#controls .a {
    color: #50C7E0;
}
#controls .b {
    color: #F48420;
}
#controls .c {
    color: #EC0F6C;
}
