.sidebar-charts {
    /* width: 30%; */
    display: flex;
    flex-direction: column;
    flex: auto;
    flex-basis: 30%;
}

.sidebar-charts-2d {
    display: flex;
    flex-direction: column;
    height: 50%;
}

.sidebar-charts-2d-title-container {
    display: flex;
    justify-content: space-around;
}

.sidebar-charts-2d-item-small {
    height: 55px;
}

.sidebar-charts-2d-item {
    text-align: center;
    margin: 2%;
}

.sidebar-charts-2d-title-item {
    flex: auto;
}

.sidebar-charts-2d-line {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
}

.sidebar-charts-2d-line > div {
    flex: auto;
}

.sidebar-charts-2d-title {
    margin-bottom: 5px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    flex: auto;
}

.sidebar-charts-3d {
    height: 50%;
}

.main-container {
    flex: auto;
    flex-basis: 70%;
}

.main-area .container {
    min-width: 350px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.main-area .box {
    padding-bottom: 1px;
    position: relative;
}

.main-area .icon {
    position: absolute;
    left: 10px;
    top: 4px;
}

.main-area .icon span {
    font-size: 16px;
}

.main-area .title {
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.main-area .line {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

.main-area .line:hover {
    cursor: pointer;
}

.main-area .line-icon {
    width: 30px;
    text-align: center;
    padding-left: 10px;
    margin-right: 10px;
}

.main-area .line-text {
    width: 100%;
}

.main-area .line-icon-file,
.main-area .line-icon-folder {
    text-align: center;
    padding: 10px 20px;
    margin-left: 2px;
}

.main-area .line-icon-folder {
    margin-right: 2px;
}

#main-charts {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

/**::-webkit-scrollbar {*/
/*    -webkit-appearance: none;*/
/*    width: 7px;*/
/*}*/

*::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 1px rgba(255, 255, 255, 1);
}

.scichart__legend-item {
    display: block;
    text-align: center;
}

.scichart__legend-item-justify {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.scichart__legend-item-simple {
    min-height: 40px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.scichart__legend-line {
    width: 100%;
    height: 2px;
    display: block;
}

.chart-container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: auto;
    flex-basis: 16%;
}

.legend-root {
    min-height: 115px;
    display: flex;
    align-items: flex-end;
}

.chart-root {
    flex: auto;
}

.chart-legend {
    flex: auto;
}

.full-size-legend {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.legend-text-item {
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 10px;
    font-weight: 700;
    align-items: center;
}

.legend-color-item {
    height: 20px;
    width: 100%;
    display: flex;
    flex: auto;
}

.color-label {
    height: 100%;
    flex: auto;
}

#shale-chart-background {
    position: absolute;
    top: 115px;
    width: 100%;
    min-height: calc(100% - 115px - 25px);
}

#shale-chart-background > svg {
    position: absolute;
    min-height: 100%;
}

.scichart__legend-line {
    width: 100%;
    height: 2px;
    display: block;
}
