@import "../../assets/main.scss";

.frameworksection {
    background-color: transparent;
    margin-top: -4.2rem;
}

.container {
    width: 100%;
    margin: 0 auto;
    font-family: "Arial";
}

.DrawerDesktop {
    position: sticky;
    top: 85px;
    order: -1;
    background-color: $color-primary-white;
    width: 350px;
    max-height: calc(100vh - 108px);
    margin-right: 20px;
    flex-shrink: 0;
    overflow-x: hidden;
    border: 1px solid #b4d0db;
    border-radius: 15px;
    overflow-x: hidden;
    overflow-y: scroll;

    @include sm {
        display: none;
    }
}

.tabbtnwrap {
    display: flex;
    gap: 1rem;

    .btnprimary,
    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.4rem;
        gap: 0.1rem;
        font-size: 0.8rem;
        font-family: "Arial";
        line-height: 1.6rem;
        height: 2.3rem;
        color: white;
        text-decoration: none;
        padding: 0 0.7rem 0 0.6rem;
        transition: all 200ms linear;
    }

    .btnprimary {
        background: linear-gradient(90deg, #1aa2d5 15.5%, #35bfb7 100%);
        margin-right: auto;

        @include sm {
            display: none;
        }
    }

    .btnDark {
        background-color: #212121;
    }

    .btnGithub {
        background-color: rgb(42, 99, 151);
    }

    .btn:hover {
        color: #ccc;
    }
}

// ... rest of the file unchanged ...
