/* This is the CSS for the markdown custom components */
/* The reason for them being written in .css instead of .scss is that we need static class names, 
and .scss pre-processors add some random strings at the end of any class at runtime to avoid bleeding */

/* General */
.md {
    --gray: #dddddd;
    --light-gray: #f5f5f5;
    --white: #ffffff;
    --link-blue: #0b58cb;
    --padding: 1rem;
    --radius: 4px;
}

.md-tips,
.md-checklist {
    margin: 0;
    width: 100%;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin: 0;
    }

    a {
        color: var(--link-blue);
        text-decoration: none;
    }
}

/* 1. Tips */
.md-tips {
    background-color: var(--light-gray);
    border-left: 5px solid var(--gray);
    padding: var(--padding);
    border-radius: var(--radius);
}

/* 2. checklist */
.md-checklist {
    list-style-type: none;
    padding: 0;
}
