@import "../../assets/main.scss";

.DrawerContent {
    @include md {
        width: 100%;
        max-width: 100%;
    }
}

.DrawerTopSection {
    display: flex;
    justify-content: space-between;
    padding: $default-spacing * 2 $default-spacing * 2;

    .CloseButton {
        align-self: center;
        cursor: pointer;
        padding: 7px;
        margin-left: -7px;
        display: none;
        
        @include sm {
            display: block;
        }
    }
}

.homepageLink {
    color: rgba(0, 0, 0, 0.54);
    cursor: pointer;
}

.toolbar {
    display: flex;
}

.versionCaption {
    color: rgba(0, 0, 0, 0.54);
    font-size: 0.75rem;
    align-self: flex-end;
    margin: 4px;
}

.DrawerContentDownloadTrialButton {
    display: none;
    justify-content: center;
    height: 44px;
    margin: 0 $default-spacing * 2 $default-spacing * 2 $default-spacing * 2;
    border-radius: 4px;
    background: $color-dark-green;

    @include md {
        display: flex;
    }

    span {
        display: block;
        color: $color-lightest-green;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0.05em;
        line-height: 15px;
        text-align: center;
        text-transform: uppercase;
        text-decoration-thickness: auto;
    }
}

.FrameworkSelect{
    display: flex;
    height: 42px;
    width: 100%;
    border: 1px solid #b4d0db;
    overflow: hidden;
    border-radius: 4px;
    cursor: pointer;
}

.FrameworkSelect .Framework, .FrameworkSelect .SelectedFramework{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.FrameworkSelect .SelectedFramework{
    background-color: #b4d0db44;
}