@import "../../assets/main.scss";

%ListItem {
    height: 52px;
    padding: 8px 30px 8px 30px;
    display: flex;
    align-items: center;
    border: 0;
    background-position: center;
    transition: background 0.8s;
    background: transparent radial-gradient(circle, transparent 1%, #0000000f 1%) center/15000%;
    color: $font-color;
    -webkit-tap-highlight-color: transparent;
    font-weight: 500;
    line-height: 17px;
    cursor: pointer;

    // prevent simulation of hover on touch devices
    @media (hover: hover) {
      &:hover {
        color: $font-color;
        background-color: rgba(0, 0, 0, 0.04);

        a {
          color: $font-color;
        }

        &::after {
          border-left : 0px solid transparent;
        }
      }
    }

    &:active {
      background-color: #0000000f;
      background-size: 100%;
      transition: background 0s;

      &::after {
          border-left: 0px solid $color-dark-green;
          transition: border-left 0ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      }
    }

    &::after {
        content: "";
        border-left: 0px solid $color-dark-green;
    }
}

%MenuListItem {
  @extend %ListItem;

  color: $menu-list-item-font-color;
  font-size: 0.875rem;
  font-weight: 600;
  padding-top: 12px;
  padding-bottom: 12px;
  line-height: 17px;
}

%SelectedListItem {
  background-color: $color-dark-green;
  color: $color-primary-white;

  a {
    color: $color-primary-white;
  }

  &::after {
      content: "";
      cursor: unset;
      pointer-events: none;
      display: block;
      width: 0;
      height: 0;
      border-top: 16px solid transparent;
      border-bottom: 16px solid transparent;
      position: absolute;
      right: -16;
      border-left: 16px solid $color-dark-green;
      transition: border-left 0ms cubic-bezier(0.4, 0, 0.2, 1) 150ms;
  }
}