@import "../../assets/main.scss";
@import "./CommonListItemStyles.module.scss";

.ListItemBlock {
    .MenuListItemText {
        flex: auto;
    }

    .SecondLevelMenuListItemText {
        flex: auto;
        margin-left: 20px;
    }

    .CollapsibleMenuListItem {
        @extend %MenuListItem;
    }

    .BottomLevelListItem {
        @extend %ListItem;
    }

    .SelectedBottomLevelListItem {
        @extend %ListItem;
        @extend %SelectedListItem;
    }

    .ExampleLink {
        @extend %gutter-bottom;

        font-size: 0.875rem;
        line-height: 1.5;
        margin-left: 40px;
        color: rgba(0, 0, 0, 0.87);
        text-decoration: none;
        pointer-events: none;
        cursor: default;
    }

    .CollapseArrowButton {
        background-color: #f9fafa;
        color: #98a4af;
        border-radius: 50%;
    }
}
