@import "./CommonListItemStyles.module.scss";

.NavigationList {
    margin-bottom: 60px;

    .HomePageListItem {
        @extend %ListItem;

        font-size: 0.875rem;
        padding-top: 12px;
        padding-bottom: 12px;
        line-height: 1.43;
    }
}

.HomePageListItem {
    @extend %ListItem;
}
