@import "../assets/main.scss";

$drawerWidthDesktop: 350px;
$drawerWidthTablet: 375px;
$drawerWidthMobile: 100%;

.App {
    display: flex;

    @include md {
        display: block;
    }
}

.DrawerMobile {
    background-color: $color-primary-white;
    flex-shrink: 0;
    display: none;
    padding: 0;
    // fix for a bug of Drawer with anchor="right"
    inset: unset !important;

    @include md {
        display: block;
        width: $drawerWidthTablet;
    }

    @include xxs {
        width: $drawerWidthMobile;
    }
}
.DrawerDesktop {
    position: sticky;
    top: 85px;
    order: -1;
    background-color: $color-primary-white;
    width: 350px;
    max-height: calc(100vh - 108px);
    margin-right: 20px;
    flex-shrink: 0;
    overflow-x: hidden;
    border: 1px solid #b4d0db;
    border-radius: 15px;
    overflow-x: hidden;
    overflow-y: scroll;
    @include sm {
        display: none;
    }
}

.DrawerPaper {
    width: inherit;
    overflow-x: hidden;
}

.MainAppContent {
    flex-grow: 1;
    background-color: #e5e5e5;
    max-width: 100vw;
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

.MainAppWrapper {
    @extend %Container;
    display: flex;
    margin: 0 auto;
    padding: 20px;

    justify-content: center;
    width: 100%;

    .GalleryAppWrapper {
        flex: 1;
    }
}
:global(.scichart__legend) {
    input {
        margin-top: initial;
    }
}
