@import "../assets/main.scss";

$drawerWidth: 350px;

.App {
    display: flex;

    @include md {
        display: block;
    }
}

.DrawerDesktop {
    background-color: $color-primary-white;
    width: $drawerWidth;

    margin-right: 30px;
    margin-bottom: 30px;
    flex-shrink: 0;
    overflow-x: visible;
    border-radius: $default-border-radius;

    @include md {
        display: none;
    }
}

.DrawerMobile {
    background-color: $color-primary-white;
    width: $drawerWidth;
    flex-shrink: 0;
    display: none;
    // fix for a bug of Drawer with anchor="right"
    inset: unset !important;

    @include md {
        display: block;
    }
}

.DrawerPaper {
    width: $drawerWidth;
    overflow-x: hidden;
}

.MainAppContent {
    flex-grow: 1;
    padding: 0;
    background-color: #e5e5e5;
    max-width: 100vw;
}

.MainAppWrapper {
    @extend %Container;
    display: flex;
    margin: 0 auto;
    margin-top: 20px;

    justify-content: center;
    min-height: 0px;
    min-width: 0px;
}
